---
import Layout from '../layouts/Layout.astro';
import Background from '../components/Background.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Intro from '../components/Intro.astro';
import Gallery from '../components/Gallery.astro';
import TrainingInfo from '../components/TrainingInfo.astro';
import Timetable from '../components/Timetable.astro';
import Pricing from '../components/Pricing.astro';
import TrialTraining from '../components/TrialTraining.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Calisthenics Movement Augsburg">
	<Background />
	<Header />

	<main>
		<Hero />
		<Intro />
		<Gallery />
		<TrainingInfo />
		<Timetable />
		<Pricing />
		<TrialTraining />
		<Contact />
	</main>
</Layout>
